<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cal" method="get">
        <input type="number" name="num1" id="" placeholder="num1"> <br>
        <input type="number" name="num2" id="" placeholder="num2"><br>
        <input type="button" name="add" id="" value="add">
        <input type="button" name="sub" id="" value="sub">
        <input type="button" name="mul" id="" value="mul"><br>
        <input type="result" name="result" id="" placeholder="result">
    </form>


</body>
</html>